{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Terms & Conditions</h1>
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a rutrum justo. Curabitur dignissim vel enim at
            sodales. Fusce blandit tempor sem, fermentum iaculis ex. Donec eget lacinia velit, a cursus metus. Vivamus vitae
            augue et massa malesuada facilisis. Donec vitae scelerisque nisl, vitae lacinia nibh. Morbi vehicula sit amet
            sem id lacinia. Cras pulvinar mattis tristique. In non interdum libero. Nulla ultricies tincidunt tincidunt.
            Integer ac suscipit nisi.
        </p>
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce vehicula vel mi tempor faucibus. Nam commodo
            nunc sodales dapibus lacinia. Sed vel semper urna. Suspendisse ut sem rutrum, lacinia justo nec, vehicula dolor.
            Nam venenatis, diam eget vulputate iaculis, risus leo feugiat mi, et ultrices lacus purus in ipsum. Phasellus
            semper dictum lectus, sed euismod purus dictum sed. Nulla fermentum vestibulum scelerisque. Phasellus aliquet
            nisi non turpis aliquam, eget venenatis nisi condimentum. Maecenas ultricies, est et viverra fermentum, turpis
            risus pretium sem, vitae fringilla metus lacus a lectus. Proin mattis mi risus, vel ultricies nulla bibendum
            vitae. Nulla lorem magna, pulvinar vel felis nec, viverra porttitor nisi.
        </p>
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>
            Morbi ac maximus mauris, at vulputate purus. Curabitur blandit odio sem, eu egestas lacus rutrum vel.
            Suspendisse vulputate suscipit magna, non sodales arcu dapibus id. Pellentesque eros nunc, cursus sit amet massa
            egestas, aliquam congue ligula. Donec quis ante ut urna bibendum ultricies. Vivamus pretium enim vitae semper
            malesuada. Nullam sit amet porta libero. Etiam est orci, volutpat sit amet egestas ornare, laoreet nec nulla.
            Quisque placerat ornare magna, ut sodales purus consequat id. Sed dignissim vel augue sed tempus. Praesent
            scelerisque, libero vel euismod bibendum, ligula lorem sodales odio, vel bibendum mi dolor eget libero. Quisque
            luctus dolor sem, vitae fringilla massa porttitor quis.
        </p>
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>
            Nam vestibulum ante ac elit tempus mattis. Suspendisse justo arcu, efficitur sed mollis aliquam, semper et dui.
            Nulla mollis, tellus eu tincidunt convallis, urna odio gravida nisi, ullamcorper tempus ligula nibh id erat.
            Nunc eu pulvinar augue. Quisque sit amet nisl tincidunt, sagittis augue at, suscipit lectus. Integer interdum
            consequat turpis vitae dapibus. Vestibulum maximus rutrum justo, sit amet porta nulla imperdiet ut. Sed ultrices
            diam eget dignissim sollicitudin. Fusce faucibus purus ac accumsan vestibulum. Aliquam mauris nisl, accumsan ac
            porta in, vehicula ac tortor. Nulla non nulla et elit interdum scelerisque.
        </p>
        <a href="{{ url("app_download_terms_file") }}" class="btn btn-primary">Download</a>
    </div>





{% endblock content %}


