<p>Hello {{ employee.fullName }}</p>
<p>Ce mail vous a été envoyé par l'administrateur pour vous inviter à vous connecter à la plateforme EHEI avece votre
    email.</p>
<p>Le mot de passe est: {{ password }}</p>
