{% extends 'layout.html.twig' %}
{% block title %}Hello CategoryController!
{% endblock %}
{% block content %}
	<div class="container">
		<h1>{{ category.name | upper }}</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="#">Home</a>
			</li>
			<li class="breadcrumb-item active">{{ category.name | upper }}</li>
		</ol>

		<div class="row">
			{% for blog in category.getOnlyPublished %}
				<div class="col-3">
					{{ include('partials/_blog.html.twig', {blog: blog}) }}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
